{% extends "::system/system.html.twig"%}
{% block body -%}
    <h2>User Dashboard</h2>

    <ul class="list-group col-lg-4">
        <li class="list-group-item"><a href="{{path('_login')}}"> <span class="glyphicon glyphicon-log-in"></span> System Login</a></li>
        <li class="list-group-item"><a href="">Lists Name 2</a></li>
        <li class="list-group-item"><a href="">Lists Name 3</a></li>    
    </ul>
{% endblock %}